    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;


    }
body {
  background-color: #fab22e;
      font-family: 'Poppins', sans-serif;

}
	.image-gallery {
		display: flex;
		overflow-x: auto;
		scroll-snap-type: x mandatory;
    height: 100vh;
		flex-grow: 1;
	}

	.image-gallery img {
		flex: 0 0 auto;
		max-width: 100vh;
		height: auto;
		scroll-snap-align: start;
		padding: 5rem;
     object-fit: cover;

	}

	body {
		overflow: hidden;
	}
.wrapper {
  display: none;
  width: 80vmin;
  padding: 50px 40px;
  margin: 0 auto;
  background-color: #fff;

  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border: 2px solid #171721;
  border-radius: 5px;
  box-shadow: 20px 20px 40px rgba(97, 63, 0, 0.4);
}
span {
  display: block;
  text-align: center;
  font-size: 100px;
}
p {
  font-size: 16px;
  color: black;
  font-weight: 400;
  text-align: center;
  word-wrap: break-word;
  line-height: 30@keyframes rotateAnimation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(180deg);
    }
}

.hover-effect {
    animation: rotateAnimation 1s linear infinite;
    transform-origin: center;
}

.hover-effect:hover {
    animation: none;
    transform: rotate(180deg);
}
px;
  margin: 30px 0;
  opacity: 1;
}
.fadeout {
  opacity: 0;
  transition: opacity 1.5s;
}
.fadein {
  opacity: 1;
  transition: opacity 1.5s;
}
.nav-link {
  color: #333;
}

.active-link {
  color: #fab22e;
  font-weight: 600;
  font-size: 1.1rem;
}
.active-link::before {
  content: "👉"; 
  margin-right: 0.5rem;
  font-size: 1.2rem;
}
.navbar-nav .nav-link {
  text-decoration: none;
  color: #000; 
}

@media (max-width: 767px) {
  .active-link::before {

    margin-right: auto; 
    font-size: 1.2rem; 
  }
  .active-link::after {
    content: "👈"; 
    margin-leftt: auto; 
    font-size: 1.2rem; 
  }
  	.image-gallery img {
    padding: 0;

	}
}
.btn-yellow-outline {
  color: #fab22e;
  text-shadow: -1px -0.5px 0 #333333, 1px -0.5px 0 #333333, -1px 0.5px 0 #333333,
    1px 0.5px 0 #333333;

}

button {
  display: block;
  background-color: #fab22e;
  width: 100%;
  border: none;
  padding: 5px;
  font-size: 18px;
  color: #171721;
  font-weight: 600;
  padding: 12px 25px;
  margin: 0 auto;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.blur {
  backdrop-filter: blur(10px); /* Adjust the value for the level of blur */
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Adjust the background color and opacity */
}
.hidden{
  display: none;
}

@media (max-width: 767px) {
  /* Adjust the collapsed navbar font size, padding, margins, etc. */
  .navbar-toggler-icon {
    font-size: 1.5rem; /* Example font size adjustment */
    /* Add more styles as needed */
  }

  /* Adjust the navbar items */
  .navbar-nav {
    text-align: center; /* Center align the items */
    /* Add more styles as needed */
  }

  /* Adjust the search form */
  .navbar form {
    margin-top: 10px; /* Example margin adjustment */
    /* Add more styles as needed */
  }
}

@keyframes hoverAnimation {
    0%, 100% {
        transform: translate(-50%, -50%) translateY(-5px);
    }
    50% {
        transform: translate(-50%, -50%) translateY(0);
    }
}

.hovers {
    animation: hoverAnimation 2s infinite ease-in-out;
}



.toast-container {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1000;
}

.toast {
    position: relative;
    min-width: 300px;
}

.glowing {
    animation: glowingAnimation 2s infinite alternate; /* Adjust the animation duration as needed */
}

@keyframes glowingAnimation {
    from {/
        opacity: 0.3; 
        box-shadow: 0 0 5px #ffd705; 
    }
    to {
        opacity: .5;
        box-shadow: 0 0 15px#ffd705; 
    }
}
.glowing-text {
    animation: glowingText 1s infinite alternate; 
}

@keyframes glowingText {
    to{
        color: #ffd705; 
        text-shadow: 0 0 10px #ffd705; 
    }
    to{

        /* color: #ffd705; 
        text-shadow: 0 0 10px black;   */
    }

}

.logo{
  width: 10rem;
}
.logo-main{
  width: 10rem;
  margin: -5rem -5rem -5rem -3rem;
}
.image-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}