<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" src="ren">
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <h1>TechTutors</h1>
    {% block content %}
    <div class="card">
	    <h2>Access Database Information</h2>
	    <p>Here is some important information</p>
	    <button class="info-button" onclick="showInformation()">Access Information</button>
	    </div>
    <script>
	    function getinfo() {
		    alert("Here's the information.");
	    }
    </script>
    {% endblock %}

</body>

</html>
