{% extends "base.html" %}
{% block head %}<style>

</style>{% endblock %}
{% block content %}
<div class="image-gallery" id="gallery">

    <div><img src="https://wallpapercave.com/dwp1x/wp9611544.jpg" ></div>
    <div><img src="https://wallpapercave.com/dwp1x/wp8991843.jpg" >
    </div>

</div>
{% endblock %}
<script>
    const imageContainer = document.getElementById('gallery');
    const wrapper = document.getElementById('wrapper-container');

    imageContainer.addEventListener('touchstart', () => {
        wrapper.classList.add('hidden');
    });

    imageContainer.addEventListener('touchend', () => {
        wrapper.classList.remove('hidden');
    });
</script>