{% extends "base.html" %}
{% block head %}
<title>Fashion Today</title>

{% endblock %}

<header>FASHION TODAY</header>

{% block content %}

<div class="image-gallery">
	<img
		src="https://media.glamour.com/photos/5fb873c621e98357424f5309/master/w_960,c_limit/Screen%20Shot%202020-11-20%20at%208.55.59%20PM.png">
	<img
		src="https://media.glamour.com/photos/5fbabcf721e98357424f5324/master/w_960,c_limit/Screen%20Shot%202020-11-22%20at%202.32.42%20PM.png">
	<img
		src="https://media.glamour.com/photos/5fbac11926ca2199210e9d83/1:1/w_960,c_limit/Screen%20Shot%202020-11-22%20at%202.50.08%20PM.png">
	<img
		src="https://cdn.cliqueinc.com/posts/292437/best-baggy-jeans-292437-1617148961985-main.600x0c.jpg?interlace=true&quality=70">
</div>
{% endblock %}