{% extends "base.html" %}
{% block head %}
<title>Education Resources</title>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: skyblue;
        margin: 0;
        padding: 0;
    }

    header {
        text-align: right;
        padding: 10px;
        background-color: #ffffff;
        /* White background for the header */
    }

    .logo img {
        width: 100px;
        height: auto;
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 20px;
    }

    .content img {
        width: 400px;
        height: auto;
        margin-right: 20px;
    }

    h1 {
        font-size: 36px;
        font-weight: bold;
    }

    p {
        font-size: 18px;
    }
</style>
{% endblock %}

{%block content%}

<div class="content">
    <img src="https://as2.ftcdn.net/v2/jpg/04/99/58/25/1000_F_499582584_icIMtQH39iMh5mbqNwvrRFgxcWURf45u.jpg"
        alt="Education Image">
    <div>
        <h1><b>EDUCATION RESOURCES</b></h1>
        <p>"TechTutors" aims to address the challenges<br> of digital illiteracy and limited access to information<br>by
            providing a user-friendly platform accessible through smartphones and USSD applications</p>
        <p style="text-align: right;">READ MORE</p>
    </div>
</div>
{%endblock%}