{% extends "base.html" %}
{% block head %}
<title>Education Resources</title>
<style>



    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
        text-align: center;
    }

    img {
        margin: 0;
    }

    .content img {
        width: 100%;
        max-width: 400px;
        height: auto;
        margin-bottom: 20px;
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50vh;
        margin: 0
    }

    h1 {
        font-size: 24px;
        font-weight: bold;
    }

    p {
        font-size: 16px;
        margin-bottom: 20px;
    }
</style>
{% endblock %}

{% block content %}

<div class="content">
    <img src="https://as2.ftcdn.net/v2/jpg/04/99/58/25/1000_F_499582584_icIMtQH39iMh5mbqNwvrRFgxcWURf45u.jpg"
        alt="Education Image">
    <div class="info container-fluid">
        <h1><b>EDUCATION RESOURCES</b></h1>
        <p>"TechTutors" aims to address the challenges of digital illiteracy and limited access to
            informationby providing a user-friendly platform accessible through smartphones and USSD
            applications</p>
        <a href="https://github.com/AvitBrian/TechTutors">CURIOUS? HERE'S MORE</a>
    </div>
</div>
{% endblock %}