<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        .emoji {
            font-size: 5rem;
        }

        .not-found-text {
            font-weight: bold;
        }
    </style>
    <title>Not Found</title>
</head>

<body class="d-flex align-items-center justify-content-center min-vh-100 bg-body-secondary">
    <div class="text-center">
        <span class="emoji">&#x1F605;</span>
        <h1 class="display-4 not-found-text">Page Not Found</h1>
        <p class="font-size: 12px;
            word-spacing: 0vw;">"Hey! don't worry about it, we'll look into it"<i>~devTeam</i></p>
        <a href="{{ url_for('home') }}" class="btn btn-primary">Back to Home</a>
    </div>

    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>